@model IEnumerable<EduCoreSuite.Models.Student>

@{
    ViewData["Title"] = "Student List";
}

<h2>Student List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Student</a>
</p>

<table class="table table-bordered table-striped table-responsive-sm">
    <thead class="table-dark">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Admission No</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Department</th>
            <th>Faculty</th>
            <th>Program</th>
            <th>Exam Body</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.Email</td>
                <td>@student.AdmissionNumber</td>
               
                <td>@student.Course</td>
                <td>@student.Department</td>
                <td>@student.Faculty</td>
                <td>@student.Program</td>
                <td>@student.ExamBody</td>
                <td>@student.Year</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.StudentID" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@student.StudentID" class="btn btn-sm btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@student.StudentID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
