@model IEnumerable<EduCoreSuite.Models.Programme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccreditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccreditationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemestersPerYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccreditedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccreditationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemestersPerYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgrammeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgrammeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgrammeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
