@model IEnumerable<EduCoreSuite.Models.Faculty>

@{
    ViewData["Title"] = "Faculties";
}

<h1>Faculties</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Faculty</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Description)</th>
             
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FacultyID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FacultyID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FacultyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
